.navDiv {
    width: 200px;
    height: 30px;
    margin: 5px;
    padding: 5px 5px 0;
    color: blue;
    font-size: x-large;
    background-color: rgb(154, 229, 231);
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
