.notice {
    width: 400px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: xx-large;
    color: red;
    text-align: center;
    box-shadow: 10px 10px 30px black;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(147, 228, 248, 0.5);
}
