.menu {
    position: absolute;
    top: 10vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
