.pageLogIn {
    position: relative;
    top: 50vh;
    left: 40vw;
    .entrance {
        width: 200px;
        height: 50px;
        background-color: #888;
        border-radius: 5px;
        text-align: center;
    }
    p {
        margin: 0;
        padding-top: 15px;
    }
}
