@import '../../styles/templates.scss';
.pageLogIn {
    display: inline-block;
    position: relative;
    top: 40vh;
    left: 40vw;
    .entrance {
        @extend %authButton;
    }
    p {
        @extend %paragraph;
    }
}
