@import '../../styles/templates.scss';

.pageLogOut {
    position: relative;
    display: inline-block;
    top: 40vh;
    left: 40vw;
    .exit {
        @extend %authButton;
    }
    p {
        @extend %paragraph;
    }
}
