@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Tangerine:wght@700&display=swap');

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    font-family: 'Neonderthaw', sans-serif;
    font-size: xxx-large;
    color: rgb(246, 247, 250);
    background: linear-gradient(45deg, #3e0fbd 33%, #e74cc6 66%, #e42424);
    mix-blend-mode: luminosity;
    img {
        width: 40px;
        height: 40px;
    }
    p {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 10px;
        word-spacing: 10px;
        margin: auto 30px;
    }
}
